.direct-messages-list {
  color: white;
  margin-top: 50px;
  margin-left: 15px;
}

.direct-message-header {
  font-size: 16px;
  margin-left: 10px;
  font-weight: lighter;
}

.direct-message-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-left: 25px;
  width: 100%;
}

.direct-message-name {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.direct-message-name:hover {
  background-color: black;
  opacity: .2;
  z-index: 1;
  width: 100%;
  color: white;
}

.dm-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dm-button {
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  background: white;
  height: 25px;
  color: grey;
  width: 115px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 12px;
}

.dm-info {
  font-size: 13px;
  color: #616061;
  font-family: sans-serif;
}