.send-message-form-div {
    position: fixed;
    bottom: 0;
    left: 240px;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 7px;
    border-width: 2px;
}

.main-chat-window {
    width: calc(100vw - 240px);
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    margin-top: 50px;
    // margin-left: 200px;
}

.send-message-form {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    border-width: 2px;
} 

.message-input {
    width: 100%;
    padding: 14px;
    padding-left: 20px;
    border-radius: 7px;
    border: 2px solid darkgrey;
}

.send-message-button {
    display: none;
}

.message-list {
    list-style: none;
}